<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        var start = [<%= @route.waypoints.first.to_json(:only => [:x, :y]).html_safe %>];

        var end = [<%= @route.waypoints.last.to_json(:only => [:x, :y]).html_safe %>];
        
        var middle = [<%= @route.waypoints.slice(1..-2).to_json(:only => [:x, :y]).html_safe %>];
        
        initMap2(start, end, middle);
    });
    </script>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<table>
  <thead>
    <tr>
      <th>X</th>
      <th>Y</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @route.waypoints.each do |waypoint| %>
      <tr>
        <td><%= waypoint.x %></td>
        <td><%= waypoint.y %></td>
        <td><%= link_to 'Show', waypoint %></td>
        <td><%= link_to 'Edit', edit_waypoint_path(waypoint) %></td>
        <td><%= link_to 'Destroy', waypoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Route: </h4>
<p>
  <div id="map"></div>
</p>

<br>
<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
